.canvas {
    display: flex;
    height: 400px;
    margin: auto;
    margin-top: 30px;
}
.items {
    margin: auto;
    text-align: center;
}
.square {
    width: 90px;
    height: 90px;
    border: 2px #333333 solid;
    font-size: 45px;
    font-weight: bold;
}